<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
  <title>Daily Dice</title>
  <script type="module" src="/src/scripts/main.js"></script>
</head>
<body>

  <header>
    <div id="helpBtn"></div>
    <h1>🎲 Daily Dice</h1>
    <div id="statsBtn"></div>
    <div id="settingsBtn"></div>
  </header>

  <div class="screen" id="playingScreen">
    <p>Test your luck with three dice. How high can you roll?</p>
    <button id="rollBtn">🎲🎲🎲 Roll 'em!</button>
  </div>

  <div class="screen" id="resultScreen">
    <p>Your dice rolls today were...</p>
    <h1 id="resultLine1">⚅ + ⚅ + ⚅ = 18 points</h1>
    <h2 id="resultLine2">Lucky!</h2>
    <button id="shareBtn">🗨️ Share</button>
    <p><span id="timeLeft"></span></p>
    <br>
  </div>

  <div class="screen" id="helpScreen">
    <h2>Welcome to Daily Dice!</h2>
    <p>This is an example of how to use the Playpass SDK to build a simple daily level game.</p>
    <p>Each day, you have the opportunity to roll a set of 3 dice. If you get a good roll, share it with a friend!</p>
    <button id="helpBackBtn">Continue</button>
  </div>

  <div class="screen" id="statsScreen">
    <h2>Stats</h2>
    <p>You have rolled 999 points over 123 days.</p>
    <button id="statsBackBtn">Back</button>
  </div>

  <div class="screen" id="settingsScreen">
    <h2>Settings</h2>
    <div class="showIfLoggedOut">
      <div>Login to save or transfer your game progress.</div>
      <button id="loginBtn">📱 Login</button>
    </div>
    <div class="showIfLoggedIn">
      <div>You are logged in, your progress will be saved.</div>
      <button id="logoutBtn">Logout</button>
    </div>
    <button id="settingsBackBtn">Back</button>
  </div>

</body>
</html>
