body.isLoggedIn .showIfLoggedOut {
    display: none;
}

body:not(.isLoggedIn) .showIfLoggedIn {
    display: none;
}

body {
    max-width: 960px;
    margin: auto;

    background: #f0f0f0;
    color: #438ff9;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0 1em;

    border-bottom: 2px dashed;
}

header h1 {
    flex: 1;
    text-align: center;
}

#helpBtn {
    background: url(help.svg);
}

#settingsBtn {
    background: url(settings.svg);
}

#statsBtn {
    background: url(stats.svg);
}

#helpBtn, #settingsBtn, #statsBtn {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

button {
    background: transparent;
    border-radius: 8px;
    border: 2px solid #438ff9;
    color: #438ff9;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    outline: none;
    margin: 20px;
}

button:active {
    background: #f0f0ff;
}

.screen {
    text-align: center;
    display: none;
}

/* Grid */
.grid > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    cursor: pointer;
    font-weight: bold;
    font-size: 28px;
    color: black;
    background-color: white;
    border: 2px solid black;
}

/* Grid row */
.grid > div {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin: 2px;
}

.grid > div > div.letterBull {
    border: 2px solid #438ff9;
    background-color: #438ff9;
    color: white;
}

.grid > div > div.letterCow {
    border: 2px solid #438ff95a;
    background-color:#438ff95a;
    color: white;
}

.grid > div > div.letterNone {
    border: 2px solid #939598;
    background-color: #939598;
    color: white;
}

.grid > div > div.letterEmpty {
    color: black;
    background-color: white;
    border: 2px solid black;
}

.keyboard {
    padding-top: 50px;
}

/* Keyboard row */
.keyboard > div {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin: 2px;
}

/* Keyboard key */
.keyboard > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 56px;
    border-radius: 4px;
    background: white;
    cursor: pointer;
    font-weight: bold;
}

.keyboard > div > div.letterBull {
    background-color: #438ff9;
    color: white;
}

.keyboard > div > div.letterCow {
    background-color:#438ff95a;
    color: white;
}

.keyboard > div > div.letterNone {
    background-color: gray;
    color: white;
}
