
html {
    height: 100%;
}

body.isLoggedIn .showIfLoggedOut {
    display: none;
}

body:not(.isLoggedIn) .showIfLoggedIn {
    display: none;
}

body {
    max-width: 960px;
    margin: 0 auto;
    height: 100%;

    background: #f0f0f0;
    color: #2c3e50;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0 1em;
    height: var(--header-height);
    border-bottom: 2px dashed;
    box-sizing: border-box;
}

header h1 {
    flex: 1;
    font-size: 1.5em;
    text-align: center;
}

#helpBtn {
    background: url(help.svg);
}

#settingsBtn {
    background: url(settings.svg);
}

#statsBtn {
    background: url(stats.svg);
}

#helpBtn, #settingsBtn, #statsBtn {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#shareBtn, #timer {
    display: none;
}

button {
    background: transparent;
    border-radius: 8px;
    border: 2px solid #2c3e50;
    color: #2c3e50;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    outline: none;
    margin: 20px;
}

button:active {
    background: #f0f0ff;
}

.screen {
    text-align: center;
    display: none;
}

#gameHeader {
    flex: 0;
    height: var(--game-header-height);
    display: none;
    flex-direction: column;
    align-items: center;
}

#playingScreen {
    flex-direction: column;
    height: calc(100% - var(--header-height));
}

.grid {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Grid */
.grid > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: calc(100% - 4px);
    cursor: pointer;
    font-weight: bold;
    font-size: 28px;
    color: black;
    background-color: white;
    border: 2px solid black;
}

/* Grid row */
.grid > div {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin: 1px;
    height: 16%;
    max-height: 56px;
}

.grid > div > div.letterBull {
    border: 2px solid #6aaa64;
    background-color: #6aaa64;
    color: white;
}

.grid > div > div.letterCow {
    border: 2px solid #c9b458;
    background-color:#c9b458;
    color: white;
}

.grid > div > div.letterNone {
    border: 2px solid #939598;
    background-color: #939598;
    color: white;
}

.grid > div > div.letterEmpty {
    color: black;
    background-color: white;
    border: 2px solid black;
}

.keyboard {
    flex: 0;
    height: var(--keyboard-height);
}

/* Keyboard row */
.keyboard > div {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin: 2px;
}

/* Keyboard key */
.keyboard > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 56px;
    border-radius: 4px;
    background: #ccc;
    cursor: pointer;
    font-weight: bold;
}

.keyboard > div > div.letterBull {
    background-color: #6aaa64;
    color: white;
}

.keyboard > div > div.letterCow {
    background-color:#c9b458;
    color: white;
}

.keyboard > div > div.letterNone {
    background-color: gray;
    color: white;
}

.keyboard > div > div.letterBull {
    background-color: #6aaa64;
    color: white;
}

:root {
    --header-height: 86px;
    --game-header-height: 250px;
    --keyboard-height: 300px;
}
