word-game-keyboard {
    display: block;
    margin-top: 50px;
}

/* Keyboard row */
word-game-keyboard > div {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin: 2px;
}

/* Keyboard key */
word-game-keyboard > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 56px;
    border-radius: 4px;
    background: #ccc;
    cursor: pointer;
    font-weight: bold;
}

word-game-keyboard > div > div[s=b] {
    background-color: #6aaa64;
    color: white;
}

word-game-keyboard > div > div[s=c] {
    background-color:#c9b458;
    color: white;
}

word-game-keyboard > div > div[s=n] {
    background-color: gray;
    color: white;
}
