<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
  <title>Daily Word</title>
  <script type="module" src="/src/main.js"></script>
</head>
<body>

  <header>
    <div id="helpBtn"></div>
    <h1>Daily Word</h1>
    <div id="statsBtn"></div>
    <div id="settingsBtn"></div>
  </header>

  <div class="screen" id="resultScreen">
    <h1 id="resultLine1">Today's word was ...</h1>
    <button id="shareBtn">🗨️ Share</button>
    <p><span id="timeLeft">12h 34m 56s</span> until next word.</p>
  </div>

  <div class="screen" id="playingScreen">
    <h2 id="prompt"></h2>
    <h2 id="answer"></h2>
    <h4 id="hint"></h4>

    <word-game-grid></word-game-grid>
    <word-game-keyboard></word-game-keyboard>
  </div>

  <div class="screen" id="helpScreen">
    <h2>Welcome to Daily Word!</h2>
    <p>This is an example of how to use the Playpass SDK to build a simple daily level word game.</p>
    <p>Each day, there's a different 5 letter word to guess You have 6 tries to get it right!</p>
    <button id="helpBackBtn">Continue</button>
  </div>

  <div class="screen" id="statsScreen">
    <h2>Stats</h2>
    <p id="winStats"></p>
    <button id="statsBackBtn">Back</button>
  </div>

  <div class="screen" id="settingsScreen">
    <h2>Settings</h2>
    <div class="showIfLoggedOut">
      <div>Login to save or transfer your game progress.</div>
      <button id="loginBtn">📱 Login</button>
    </div>
    <div class="showIfLoggedIn">
      <div>You are logged in, your progress will be saved.</div>
      <button id="logoutBtn">Logout</button>
    </div>
    <button id="settingsBackBtn">Back</button>
  </div>

</body>
</html>
